@font-face {
  font-family: 'Turret Road';
  src: url("../fonts/TurretRoad-Bold.ttf");
  src: url("../fonts/TurretRoad-Regular.ttf");
}
@font-face {
  font-family: 'Titillium Web';
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}